@import "tailwindcss";


@theme {

  --color-background: #002A2E;
  --color-background-light: #00848B;
  --color-background-dark: #072427;
  --color-background-muted: #B9BFCC;

  --color-foreground: #fff;
  --color-foreground-light: #00848B;
  --color-foreground-dark: #072427;
  --color-foreground-muted: #B9BFCC;

  --color-card-background: #033538;
  --color-card-foreground: #fff;

  --color-primary: #F5532C;
  --color-secondary: #F4F5F5;

}

@layer base {
  html {
    font-size: 20px;
  }
}